.dashboard-root {
  background-color: var(--bg-main-color);
  height: 100vh;
}

.components {
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.top-components {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.xp-bar {
  margin: 1% auto;
  width: 90%;
  height: 20px;
  border: 1px solid #1C1C1C;
  border-radius: 16px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background: rgb(28, 28, 28);
  background: linear-gradient(90deg, rgba(28, 28, 28, 1) 0%, rgba(255, 107, 107, 1) 100%);
  transition: width 0.5s ease;
}