.j-root {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.journey-top{
    display: flex;
}

.controls-container {
    display: flex;
}

.controls-container > button {
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

.journey-top > h2 {
    white-space: nowrap;
    color: var(--bg-button-color);
    text-shadow: 0px 4px 4px rgba(28,28,28,0.25);
}

.journey-top > span, .j-buttons-line {
    height: 1px;
    background-color: black;
    margin: auto;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
}

.j-first-line {
    width: 50px;
}

.j-second-line {
    width: 100%;
}

.j-buttons-line {
    width: 10%;
}

.j-third-line{
    width: 10%;
}

.j-complete-button {
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

.journey-middle {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.jm-left{
    height: 100%;
    width: 1px;
    background-color: black;
}

.jm-right {
    height: 100%;
    width: 1px;
    background-color: black;
}

.stages-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 90%;
}

.stages-container > div {
    display: flex;
    width: 100%;
}

.stage-connect-line {
    height: 1px;
    background-color: black;
    margin: auto;
    width: 100%;
}

.finish-stage {
    width: 32px;
    height: 32px;
}